.nav {
    grid-area: n;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nav div {
    padding: 20px;
}

.item {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.item:hover {
    color: gold;
}

.active {
    color: gold;
}