.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;
}
.dialogs .active a{
    color: green;
}
.dialogItems {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.dialogItems{
    color: blue;
}

.dialog a {
    text-decoration: none;
}

a.item {
    color: blue;
}

a.active {
    color: green;
}

.messages {
    border-left: 2px solid cornflowerblue;
    padding: 10px;
}

.message {
    font-size: 20px;
}
