.dialogs {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 10px;
}

.dialogs .active a {
    color: green;
}

.dialogItems {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}

.dialogs img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialog {
    display: flex;
    margin-bottom: 10px;
}

.dialogItems {
    color: blue;
}

.dialog a {
    text-decoration: none;
}

a.item {
    color: blue;
}

a.active {
    color: green;
}

.messages {
    border-left: 2px solid cornflowerblue;
    padding: 10px;
}

.message {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
}

.message img {
    margin: 0 10px 0 10px;
}

.message div {
    display: flex;
    align-items: center;
}

.friendMessage {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.friendMessage img {
    margin: 0 10px 0 10px;
}

